/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "helper.h"

#define TOP  0
#define SYM  1
#define NUM  2
#define NAV  3
#define ADJ  4
#define TEST  5

/* stick key */
&sk {
    release-after-ms = <750>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

HOLD_TAP(hrm,  "tap-unless-interrupted", 50, 50, &kp, &kp)
HOLD_TAP(tmt,  "hold-preferred", 200, 200, &kp, &kp)
HOLD_TAP(lht,  "hold-preferred", 200, 200, &mo, &kp)

TAP_DANCE(altdance,   200, &sk RALT, &sk LALT)
TAP_DANCE(ctrltabgui, 200, &tmt LCTRL TAB, &sk LGUI)

MACRO(sub_arrow, 30, 30, &kp MINUS &kp GT)
MACRO(fat_arrow, 30, 30, &kp EQUAL &kp GT)
MACRO(eli_arrow, 30, 30, &kp TILDE &kp GT)

/*                KEY POSITIONS
  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
          ╰────────────╯ ╰────────────╯        */
ZMK_COMBO(combo_caps,      &caps_word, 31 34, ALL, 50)
ZMK_COMBO(combo_sub_arrow, &sub_arrow, 18 19, ALL, 50)
ZMK_COMBO(combo_fat_arrow, &fat_arrow,  8  9, ALL, 50)
ZMK_COMBO(combo_eli_arrow, &eli_arrow, 28 29, ALL, 50)

ZMK_COMBO(combo_test_layer, &to TEST,  16  17  18  19, ALL, 50)

#define SSPACE LSHFT SPACE

ZMK_LAYER(base_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SEMI
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &hrm LGUI A   &hrm LCTRL R  &hrm LSHFT S  &hrm LALT T   &hrm RALT G       &hrm RALT M   &hrm LALT N   &hrm RSHFT E  &hrm LCTRL I  &hrm RGUI O
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp Z         &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &ctrltabgui   &tmt SSPACE   &lht SYM ESC      &lht NUM BSPC &lht NAV RET  &altdance
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(sym_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &none         &kp LBRC      &kp RBRC      &none             &kp RA(N6)    &kp RA(SQT)   &kp RA(DQT)   &kp RA(GRAVE) &kp RA(COMMA)
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &trans        &trans        &kp LPAR      &kp RPAR      &trans            &kp CARET     &kp SQT       &kp DQT       &kp GRAVE     &kp BSLH
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &trans        &kp LBKT      &kp RBKT      &none             &none         &none         &trans        &trans        &trans
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &trans        &trans        &trans            &trans        &trans        &trans
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(num_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &none         &none         &none         &none             &kp EQUAL     &kp N7        &kp N8        &kp N9        &kp SQT
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LGUI      &kp LCTRL     &kp LSHFT     &kp LALT      &kp RALT          &kp MINUS     &kp N4        &kp N5        &kp N6        &kp N0
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &none         &none         &none         &none             &kp ASTRK     &kp N1        &kp N2        &kp N3        &kp DOT
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &trans        &trans        &trans            &trans        &trans        &trans
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

)
ZMK_LAYER(nav_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &none         &none         &none         &none             &kp PG_UP     &kp HOME      &kp UP        &kp END       &none
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &trans        &trans        &trans        &trans        &trans            &kp PG_DN     &kp LEFT      &kp DOWN      &kp RIGHT     &none
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &none         &none         &none         &none             &kp DEL       &kp INSERT    &trans        &trans        &none
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &trans        &trans        &lht ADJ          &trans        &trans        &trans
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
ZMK_LAYER(adj_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &none         &none         &none         &none             &kp F1        &kp F2        &kp F3        &kp F4        &kp F5
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &trans        &trans        &trans        &trans        &trans            &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &none         &none         &none         &none             &kp F11       &kp F12       &trans        &trans        &none
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &trans        &trans        &trans            &trans        &trans        &trans
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
// BT_PRV BT_NXT BT_CLR
ZMK_LAYER(test_layer,
  // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none         &none         &none         &none         &none
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &out OUT_TOG  &out OUT_USB  &out OUT_BLE  &bt BT_PRV    &bt BT_NXT        &none         &none         &none         &none         &none
  // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &bt BT_CLR    &none         &none         &none         &sys_reset        &none         &none         &none         &none         &sys_reset
  // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                  &to TOP       &to TOP       &to TOP           &to TOP       &to TOP       &to TOP
  //                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
